body {
	&.erp {
		background-color: #f5f5f5;
		overflow: hidden;
		&.overflow {
			overflow: inherit;
		}
		> div {
			nav.navbar {
				padding: 15px 30px;
				background-color: #f5f5f5;
				display: flex;
				flex-direction: row;
				a.navbar-brand {
					img {
						width: 50px;
						padding: 0 0 10px;
					}
				}
				ul.navbar-nav {
					li {
						a.nav-link {
							color: @lightblue;
							line-height: 30px;
							&:hover {
								color: @darkblue;
							}
						}
						a.nav-dropdown-user {
							border: 2px solid #ddd;
							&:after {
								display: none;
							}
							&.nav-link {
								display: flex;
								justify-content: center;
								align-items: center;
							}
							img {
								transform: scale(1);
								width: inherit;
							}
						}
					}
				}
				.media-left {
					display: flex;
					justify-content: center;
					img {
						width: inherit;
					}
				}
			}
			div.app {
				padding: 98px 0 0;
				display: flex;
			    width: 100%;
			    height: 100vh;
			    &.admin {
			    	flex-direction: column;
			    }
				&.home {
					background-image: url('../../images/bg-activites.jpg');
					background-size: cover;
					padding: 0;
					div.logoNav {
						display: flex;
						width: 100%;
						justify-content: center;
						align-items: center;
						ul {
							display: none;
						}
						a {
							position: relative;
							.st1 {
								fill: #ccc;
							}
							&:hover {
								text-decoration: none;
								polygon {
									fill: rgba(232, 232, 232, 0.08);
									stroke: #27c6da;
								}
								text {
									.st1 {
										fill: white;
									}
								}
							}
							&.disabled {
								cursor: default;
								text {
									.st1 {
										opacity: 0.25;
									}
								}
								&:hover {
									polygon {
										opacity: 1;
										fill: rgba(232, 232, 232, 0.08);
										stroke: rgba(0, 0, 0, 0.20);
									}
								}
							}
						}
					}
				}
				div.projects {
					display: flex;
					flex-direction: row;
					height: 100%;
					width: 100%;
					> div {
						display: flex;
						height: 100%;
						ul {
							padding: 0;
							li {
								list-style-type: none;
								a {
									text-decoration: none;
								}
							}
						}
						&.projectList {
							width: 20%;
							min-width: 250px;
							background-color: #314146;
							cursor: pointer;
							&:hover {
								background-color: darken(#314146, 4%);
							}
							ul {
								width: 100%;
								li {
									padding: 0;
									line-height: 20px;
									width: 100%;
									float: left; 
									border-bottom: 1px solid rgba(255,255,255,0.2);
									a {
										padding: 40px;
										color: white;
										text-transform: uppercase;
										font-size: 18px;
										letter-spacing: 2px;
										font-weight: 600;
										float: left; 
										opacity: 0.5;
										span {
											padding: 10px 0 0; 
											font-size: 14px;
											font-weight: 400;
											float: left; 
											width: 100%;
											opacity: 0.5;
										}
									}
									&.active {
										background-color: lighten(#314146, 5%);
										a {
											opacity: 1;
											span {
												opacity: 1;
											}
										}
									}
									&:hover {
										background-color: lighten(#314146, 2%);
										a {
											opacity: 1;
											span {
												opacity: 1;
											}
										}
									}
								}
							}
						}
						&.mounth {
							width: 15%;
							min-width: 200px;
							background-color: @lightblue;
							cursor: pointer;
							padding: 0 0 0;
							&:hover {
								background-color: darken(@lightblue, 5%);
							}
							ul {
								width: 100%;
								li {
									padding: 30px;
									margin: 0;
									line-height: 20px;
									width: 100%;
									float: left; 
									position: relative;
									transition: all 0.5s; 
									&:after {
										content: '';
										bottom: 0;
										right: 0;
										position: absolute;
										width: 80%;
										height: 1px;
										background: linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(255,255,255,0.4) 100%);
									}
									a {
										position: relative;
										float: left; 
										color: white;
										text-transform: uppercase;
										font-size: 18px;
										letter-spacing: 2px;
										font-weight: 600;
										opacity: 0.5;
										width: 100%;
										transition: all 0.5s;
										left: 0;
										i {
											float: right;
										}
									}
									&.current {
										background: linear-gradient(90deg, rgba(255,255,255,0.1) 0%, rgba(255,255,255,0.4) 100%);
										a {
											opacity: 1;
										}
									}
									&:hover {
										background: rgba(255,255,255,0.1);
										a {
											opacity: 1;
											left: 10px;
										}
									}
								}
							}
						}
						&.tabs-container {
							width: 75%;
							flex-direction: column;
							background-color: #eee;
							padding: 0;
							position: relative; 
							overflow-y: scroll;
							> div.tab-content {
								opacity: 0;
								position: absolute;
								left: 0;
								top: 0;
								z-index: 0;
								&.current {
									opacity: 1;
									z-index: 1;
									width: 100%;
								}
							}
							div.banner {
								overflow: hidden;
								width: 100%;
								.carousel-inner {
									max-height: 500px;
								}
								img {
									transform: scale(1);
									width: 100%;
								}
								&:hover {
									img {
										transform: scale(1.02);
										opacity: 0.8;
									}
								}
							}
							div.download {
								padding: 40px;
								display: flex;
								flex-direction: row;
								> div.pdf {
									width: 50%;
									&:first-child {
										margin: 0 20px 0 0;
									}
									&:nth-child(2) {
										margin: 0 20px 0 20px;
									}
									&:last-child {
										margin: 0 0 0 20px;
									}
									> div {
										display: flex;
										flex-direction: row;
										width: 100%;
										height: 100%;
										> a {
											display: flex;
											flex-direction: row;
											text-decoration: none;
											width: 100%;
											height: 100%;
											> div {
												padding: 20px;
												border: 1px solid #ddd;
												&:first-child {
													background: linear-gradient(-90deg, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0.8) 100%);
													display: flex;
													flex-direction: column;
													width: 80%;
													border-right: none;
													border-radius: 10px 0 0 10px;
													justify-content: center;
													span {
														position: relative;
														left: 0;
														&:first-child {
															font-size: 18px;
															letter-spacing: 1px;
															color: @darkblue;
															font-weight: 700;
															text-transform: uppercase;
															line-height: 18px;
															padding: 0 0 8px;
														} 
														&:last-child {
															font-size: 16px;
															color: @lightblue;
															font-weight: 500;
															letter-spacing: 1px;
														}
													}
												}
												&:nth-child(2) {
													background-color: white;
													text-align: center;
													width: 20%;
													display: flex;
													align-items: center;
													color: @lightblue;
													i {
														width: 100%;
														font-size: 30px;
													}
												}
												&:last-child {
													background-color: white;
													text-align: center;
													width: 20%;
													display: flex;
													align-items: center;
													color: @lightblue;
													i {
														width: 100%;
														font-size: 30px;
													}
												}
											}
											&:last-child {
												width: 20%;
												div {
													border-radius: 0 10px 10px 0;
													width: 100%;
													border-left: none;
													border-right: 1px solid #ddd;
												}
											}
											&:hover {
												> div {
													&:first-child,
													&:last-child {
														border-color: #eee;
														span {
															color: @darkblue;
														}
														i {
															color: white;
														}
													}
													&:first-child {
													}
													&:last-child {
														i {
															color: @darkblue;
														}
													}
												}
											}
										}
									}
								}
								> div.timelapse {
									width: 50%;
									&:first-child {
										margin: 0 20px 0 0;
									}
									&:last-child {
										margin: 0 0 0 20px;
									}
									> a {
										display: flex;
										flex-direction: row;
										text-decoration: none;
										width: 100%;
										height: 100%;
										> div {
											padding: 20px;
											border: 1px solid #ddd;
											&:first-child {
												background: linear-gradient(-90deg, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0.8) 100%);
												display: flex;
												flex-direction: column;
												width: 80%;
												border-right: none;
												border-radius: 10px 0 0 10px;
												justify-content: center;
												span {
													position: relative;
													left: 0;
													&:first-child {
														font-size: 18px;
														letter-spacing: 1px;
														color: @darkblue;
														font-weight: 700;
														text-transform: uppercase;
														line-height: 18px;
														padding: 0 0 8px;
													} 
													&:last-child {
														font-size: 16px;
														color: @lightblue;
														font-weight: 500;
														letter-spacing: 1px;
													}
												}
											}
											&:last-child {
												background-color: white;
												text-align: center;
												width: 20%;
												display: flex;
												align-items: center;
												color: @lightblue;
												border-radius: 0 10px 10px 0;
												i {
													width: 100%;
													font-size: 30px;
												}
											}
										}
										&:hover {
											> div {
												&:first-child,
												&:last-child {
													border-color: #eee;
													span {
														color: @darkblue;
													}
													i {
														color: white;
													}
												}
												&:first-child {
													span {
													}
												}
												&:last-child {
													i {
														color: @darkblue;
													}
												}
											}
										}
									}
								}
							}
							div.comment {
								padding: 0 40px 40px;
								div.content {
									padding: 20px;
									// border-radius: 10px;
									// background: linear-gradient(-90deg, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0.8) 100%);
								}
								h1 {
									font-size: 22px;
									color: @darkblue;
									margin: 0 0 30px;
								}
							}
						}
					}
				}
				&.admin {
					div.head {
						background-color: @lightblue;
						padding: 50px 0;
						margin: 0 0 50px;
						h3 {
							color: white; 
							margin: 0;
							font-size: 26px;
							line-height: 36px;
						}
						a,
						button {
							float: right;
							color: white;
							border: 1px solid rgba(255,255,255,0.5);
							&:hover {
								text-decoration: none;
								border-color: rgba(255,225,255,0); 
							}
						}
					}
					> div {
						width: 100%;
					}
					table {
						td,
						th {
							line-height: 45px;
						}
						button {
							float: right;
						}
						tr {
							td {
								&:last-child {
									display: flex;
									justify-content: flex-end;
								}
							}
						}
					}
					table,
					div.head {
						a,
						button {
							border-radius: 5px;
							padding: 7px 15px;
							margin: 0 0 0 15px;
							text-transform: inherit;
							&.btn-secondary {
								background-color: #37525b;
							}
							&.btn-danger {
								background-color: #dc3545;
							}
						}
					}
					.select2-container {
						width: 100%!important;
						ul.select2-selection__rendered {
							width: 100%!important;
							padding: 0;
							margin: 0;
							li {
								&.select2-search.select2-search--inline {
									width: 100%!important;
									input {
										width: 100%!important;
										cursor: pointer;
										border-radius: .25rem;
										border: 1px solid #ced4da;
									}
								}
							}
						}
					}
					.select2-container--classic {
						.select2-selection--multiple {
							background: none;
							border: none;
						}
					}
					div.form {
						padding: 0 0 50px;
						&.dark {
							padding: 50px 0;
							background-color: #ddd;
						}
						&.tabs-form {
							background-color: white;
							position: relative;
							float: left;
							height: 100%;
							width: 100%;
							div.subtitle {
								h4 {
									font-size: 20px;
									margin: 0 0 30px;
								}
							}
							ul.tabs {
								padding: 0;
								float: left;
								width: 100%;
								max-height: 575px;
								overflow-y: scroll;
								li {
									list-style-type: none;
									a {
										border-bottom: 1px solid #e5e5e5;
										padding: 20px;
										margin: 0;
										color: @darkblue;
										font-size: 18px;
										font-weight: 600;
										position: relative;
										left: 0;
										float: left; 
										width: 100%;
										text-indent: 0;
										border-radius: 0;
										i {
											float: right;
											margin: 5px 0 0;
										}
									}
									&:hover {
										a {
											background-color: #f5f5f5;
											color: @lightblue;
											text-decoration: none;
											text-indent: 10px;
											i {
												right: 10px;
											}
										}
									}
									&.current {
										a {
											color: @lightblue;
											background-color: #f5f5f5;
										}
									}
									&:last-child {
										border: none;
									}
								}
							}
							div.tabs-container {
								float: left;
								height: 100%;
								width: 100%;
								> div.tab-content {
									float: left;
									height: 100%;
									width: 100%;
									opacity: 0;
									position: absolute;
									left: 0;
									top: 0;
									z-index: 0;
									width: 100%;
									div.dashboard {
										div.form-group {
											margin: 0 0 30px; 
										}
									}
									&.current {
										opacity: 1;
										z-index: 1;
										display: block!important;
									}
								}
							}
						}
					}
					form {
						.form-row>.col, .form-row>[class*=col-] {
							padding: 0 20px;
							margin: 0 0 20px;
						}
						div.logo {
							label {
								width: 100%;
								float: left;
							}
							input {
								width: calc(~'100% - 80px');
								float: left;
							}
							img {
								float: right;
							}
						}
						input,
						textarea,
						select {
							padding: 15px 18px;
							font-size: 16px;
							height: inherit;
							font-weight: 400;
							&:focus {
								outline: none;
								box-shadow: 0 0 0 0.2rem rgba(38, 198, 218, 0.16);
							}
						}
						input {
							&.input-checkbox {
								width: 20px;
							}
						}
						label {
							font-weight: 500;
							color: @darkblue;
							font-size: 18px;
						}
						div {
							&.input-group-addon {
								background-color: #ced4da;
								&:hover {
									background-color: @lightblue;
									i {
										color: white;
									}
								}
								a {
									padding: 0 10px;
									height: 100%;
									display: flex;
									align-items: center;
									&:hover {
										text-decoration: none;
									}
									i {
										color: @darkblue;
										&:hover {
										}
									}
								}
							}
						}
					}
				}
			}
			div.overlay {
				position: fixed;
				top: 0;
				right: 0;
				bottom: 0;
				width: 0;
				height: 100%;
				width: 0;
				background-color: rgba(0,0,0,0.0);
				z-index: 99999;
				opacity: 0;
				overflow: hidden;
				transition: all 1.2s;
				object, 
				iframe { 
					position: absolute;
					height: calc(~'100% - 140px');
					width: calc(~'100% - 60px');
					left: 25px;
					top: 120px;
				}
				div.external {
					position: absolute;
					height: calc(~'100% - 140px');
					width: calc(~'100% - 60px');
					left: 25px;
					top: 120px;
					overflow: hidden;
					display: flex;
					flex-direction: column;
					iframe {
						width: 100%;
						height: 100%;
						border: none;
					}
					ul {
						margin: 0;
						background-color: @darkblue; 
						color: white;
						display: flex;
						flex-direction: row;
						font-size: 20px;
						li {
							list-style-type: none;
							width: 50%;
							text-align: center;
							padding: 20px 0 30px;
							a {
								color: white;
							}
						}
					}
				}
				> a {
					position: fixed;
					left: calc(~'50% - 12px');
					font-size: 30px;
					color: white;
					opacity: 0.4;
					z-index: 999999;
					top: -100%;
					&:hover {
						opacity: 1;
					}
				}
				&.active {
					background-color: rgba(0,0,0,0.9);
					opacity: 1;
					left: 0;	
					width: 100%;
					&:hover {
						background-color: rgba(0,0,0,0.7);
						cursor: pointer;
					}
					a {
						top: 10px;
					}
				}
			}
		}
	}
	.select2-container--classic  {
		.select2-dropdown--below {
			border: 1px solid @lightblue!important;
			border-radius: 5px;
		}
	}
	.select2-results__option[aria-selected] {
		padding: 15px;
	}
	.select2-container--classic  {
		.select2-results__option--highlighted[aria-selected] {
			background-color: @lightblue;
		}
		.select2-selection--multiple {
			.select2-selection__choice {
				background-color: @lightblue;
				color: white;
				font-size: 16px;
				padding: 7px 10px 10px;
				border: none;
				font-weight: bold;
				span {
					margin: 0 10px 0 0;
					color: white;
					font-size: 20px;
				}
			}
		}
	}
}

@media (max-width: 1240px) {
	body {
		&.erp {
			overflow: inherit;
			> div {
				nav.navbar div.nav-bar-active {
					top: 30px;
					i {
						color: @lightblue;
					}
				}
				div.app {
					height: 100%;
					&.home {
						height: 100vh;
					}
					div.projects {
						flex-direction: column;
						> div.projectList {
							min-height: inherit;
							width: 100%;
							ul {
								margin: 0;
								li {
									text-align: center;
									border: none;
									padding: 0px 30px;
									display: none;
									a {
										font-size: 18px;
										width: 100%;
										span {
											padding: 5px 0 0;
										}
									}
									&.active {
										padding: 30px 30px;
										display: block;
										a {
											font-size: 28px;
										}
									}
								}
							}
						}
						> div.mounth {
							width: 100%;
							ul {
								margin: 0;
								display: flex;
								li {
									text-align: center;
									&:after {
										display: none;
									}
								}
							}
						}
						> div.tabs-container {
							overflow: inherit!important;
							width: 100%;
							div.dashboard {
								width: 100%;
							}
						}
					}
				}
			}
		}
	}
}
@media (max-width: 991px) { 
	body nav.navbar div.collapsingNavbar.on ul > li {
		&:hover {
			a {
				color: lighten(@lightblue, 80%)!important;
			}
		}
	}
	body {
		&.erp {
			> div {
				div.app {
					&.home {
						div.logoNav {
							svg {
								display: none;
							}
							ul {
								display: block;
								li {
									list-style-type: none;
									font-size: 28px;
									text-align: center;
									margin: 30px 0;
									a {
										color: white;
										letter-spacing: 4px;
										&:hover {
											color: @lightblue;
											text-decoration: none;
											letter-spacing: 6px;
										}
									}
									&.disabled {
										opacity: 0.4;
										a {
											cursor: default;
											letter-spacing: 4px;
											color: white;
										}
									}
								}
							}
						}
					}
				}
			}
		}
	}
}
@media (max-width: 770px) {
	body {
		&.erp {
			> div {
				div.app {
					&.admin {
						table {
							th {
								line-height: 18px!important;
							}
							&.table_projects {
								tr {
									> td,
									> th {
										&:first-child,
										&:nth-child(3),
										&:nth-child(4) {
											display: none;
										}
									}
								}
							}
						}
					}
					div.head {
						h3 {
							text-align: center;
							padding: 0 0 15px;
						}
						div.btnHead {
							text-align: center;
							a, button {
								float: none;
							}
						}
					}
					div.projects { 
						> div.mounth {
							i {
								display: none;
							}
						}
						> div.tabs-container {
							div.download {
								padding: 20px;
								flex-direction: column;
								> div.pdf {
									margin: 0 0 30px;
									width: 100%!important;
									> div {
										flex-direction: column;
										> a {
											width: 100%;
											flex-direction: column;
											> div {
												span {
													text-align: center;
												}
												&:first-child {
													width: 100%;
													border-radius: 10px;
													border: 1px solid #ddd;
													margin: 0 0 10px;
												}
												&:last-child {
													width: 100%;
													border-radius: 10px;
													border: 1px solid #ddd;
													margin: 0 0 10px;
												}
											}
											&:last-child {
												width: 100%;
											}
										}
									}
									&:first-child {
										margin: 0 0 30px;
									}
									&:last-child {
										margin: 0;
									}
								}
								> div.timelapse {
									width: 100%;
									margin: 0;
									&:last-child {
										margin: 0;
									}
								}
							}
							div.comment {
								text-align: center;
							}
						}
					}
				}
			}
		}
	}
}