body {
	margin: 0;
	padding: 0;
	position: relative;

	font-family: 'Raleway', sans-serif;

	* {
		transition: all 0.5s;
	}

	/*** NAVBAR ***/

	nav.navbar  {
		position: absolute;
		width: 100%;
		top: 0;
		z-index: 999;
		ul {
			&.navbar-nav {
				flex-direction: row;
				li {
					padding: 0 20px;
					font-weight: 500;
				}
			}
		}
	}

	/*** HEADER ***/

	header {
		height: 100vh;
		width: 100%;
		position: relative;
		top: 0;
		left: 0;
		min-height: 100%;
		.container-header {
			height: 100%;
			width: 100%;
			background-position: center;
			box-sizing: cover;
			div.info-center {
				position: absolute;
				top: 50%;
				right: 40px;
				left: 40px;
				padding: 0;
				transform: translateY(-50%);
				text-align: center;
				h1 {
					color: white;
					font-size: 50px;
					margin: 0 0 20px;
				}
				ul {
					padding: 0;
					margin: 0;
					li {
						display: inline-block;
						font-size: 24px;
						padding: 0 15px;
						a {
							color: white;
							font-weight: 300;
							&:hover {
								opacity: 0.8;
								text-decoration: none;
							}
						}
					}
				}
			}
		}
	}
	
	/*** FOOTER ***/

	footer {
		background-color: #314146;
		padding: 80px 0;
		div {
			color: white;
			&.media {
				small {
					padding: 12px 0 0 20px;
					opacity: 0.8;
				}
			}
		}
		a {
			color: white;
		}
		ul.nav-inline { 
			justify-content: flex-end;
			li {
				display: inline-block;
				margin: 0 20px;
				padding: 0;
				&:first-child {
					margin: 0 20px 0 0;
				}
				&:last-child {
					margin: 0 0 0 20px;
				}
				&.active {
					box-shadow: 0 2px 0 rgba(255,255,255,0.2);
				}
				a {
					padding: 0;
					margin: 4px 0;
				}
			}
		}
	} 
}